   <img src="{{photo}}">
    <h4>{{title}}</h4>
    <p>{{wIncluded}}</p>
    <p>{{description}}</p>
    <p>Price:- {{price}}$</p>
    <p>Cooking Time:- {{cookingTime}} Mins</p>
    <p>Servings:- {{servings}}</p>
    <p>Calories:- {{calories}}</p>