<header>
  <div class="nav-container">
    <div class="logo">
      <a href="/">
        <img alt="Desi Khana" src="/images/logo.jpg">
        <span>Desi Khana</span>
      </a>
    </div>

    <div class="hamburger">
      <span></span><span></span><span></span>
    </div>

    <nav class="nav-links">
      {{#if user.clerk}}
        <a href="/onTheMenuClerk">On The Menu</a>
      {{else}}
        <a href="/onTheMenu">On The Menu</a>
      {{/if}}
      <a href="/">Pricing</a>
      <a href="/">Blog</a>
      <a href="/">FAQ</a>
      {{#if user.clerk}}
        <a href="/load-data/meal-kits">Add Meal Kits</a>
      {{/if}}
      {{#if user.customer}}
        <a href="/load-data/shoppingCart">Shopping Cart</a>
      {{/if}}

      <div class="mobile-auth">
        {{#if user}}
          <span class="user-greeting">Hello {{user.fname}}!</span>
          <button onclick="location.href='/login/logout'">Logout</button>
        {{else}}
          <button class="btn-ghost" onclick="location.href='/login'">Log In</button>
          <button onclick="location.href='/registration'">Sign Up</button>
        {{/if}}
      </div>
    </nav>

    <div class="nav-auth">
      {{#if user}}
        <span class="user-greeting">Hello, {{user.fname}}</span>
        <button onclick="location.href='/login/logout'">Logout</button>
      {{else}}
        <button class="btn-ghost" onclick="location.href='/login'">Log In</button>
        <button onclick="location.href='/registration'">Sign Up</button>
      {{/if}}
    </div>
  </div>
</header>