<div class="onTheMenu" style="margin-left: 0px; margin-top: 50px; left">

{{#each result}}
        <p style="color: red; font-weight:bolder">{{this}}</p>
{{/each}}

{{#each cart}}
            <div class="grid">
               <img src="/{{photo}}"> 
                 {{>food}}
                 <p>Quantity: {{qty}}</p>
            </div>
{{/each}}
</div>
{{#if result}}
{{else}}
<br>
<section style="margin-left: 70px; text-align:center">
        <p>Total Cart Price: {{totalPrice}}</p>
        <br>

        <form method="POST" action="/load-data/check-out">
                <input type="submit" value="CheckOut"/>
        </form>

</section>
{{/if}}

{{#if user}} 

{{else}}
<h3>You have nothing in your cart</h3>
{{/if}}

